body{
    margin:0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}



h1 {
    margin-top: 120px;
    margin-left: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    font-weight: 500;
}

main{
    margin-top: 50px;
    margin-left: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #5FD9FF;
    width:100%;
    
}

nav ul li {
   
    float: right;
   
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: linear;
    font-size: 1.2em;
}

li a:hover {
    background: #99ffff;
    color: #4d4d4d;
}

#hci{
    width:600px;
    float:left;
}

#hci-img img{
    position:relative;
    padding-left: 150px;
    padding-top: -100px;
}

#cpu img {
    border-radius: 35px;
   margin: 0px 0px 20px 180px;
   position: relative;
    
}

aside {
    position: relative;
    left: 700px;
    margin:-300px 0px 0px 100px;
    width: 500px;
}

#cpu figcaption {
    left: 155px;
    width: 200px;
}

#social-com {
    width:1100px;
}


figure {
    display: block;
    position: relative;
    overflow: hidden;
}

figure figcaption {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    transition: all 0.6s ease;
}

figure:hover figcaption{
    opacity: 1;
    left:0;
}

.left figcaption {
    bottom: 0;
    left: -30%;
}
.left:hover figcaption { 
    left: 0;
}

.right figcaption { 
    bottom: 0; right: -30%; 
}
.right:hover figcaption { 
    right: 0;
}

.top figcaption { 
    left: 0; top: -30%; 
    
}
.top:hover figcaption { 
    top: 0; 
}

.bot figcaption {
    left: 0; bottom: -30%;
    
}
.bot:hover figcaption { 
    bottom: 0; 
    
}



#ref{
   text-align: left;
}
#ref a {
    color:black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   
}

#ref a:hover{
    color: orange;
}