/*.cart{
    text-decoration: none;
    word-spacing: 1.2em;
}
*/
body {
   
    padding:0px;
}
.jumbotron{
    
   
}

#selectpicker{
    color:white; 
}
    
.img-responsive{
    border-radius: 30px;
    max-width: 70%;
    max-height: 70%;
     display:block;
     
     
}

.navbar{
     margin-left:-3px;
     margin-right:-3px;
     margin-bottom: 0px;
     padding-right: 20px;
     padding-left: 20px;
   
}

#productInfo {
    text-align: center;
}