body {
    background-color:gray;
    
}

#grid {
    background-color:#ffb3b3;
    border: 1px solid white;
    width: 100px;
    height:100px;
    color: white;
    font-size: 80px;
    text-align: center;
    
}

#first {
    position: relative;
}
#play{
    font-size:1.1em;
    height:100px;
    width:100px;
    border-radius:50px;
    border:none;
    background: #4db8ff;
    color:white;
}

#play:hover{
    background:rgba(0,0,0,0);
    color:#4db8ff;
    box-shadow: inset 0 0 0 3px #4db8ff;
    cursor:pointer;
}
button{
    height:100px;
    width:100px;
    border-radius:50px;
    border:none;
    background-color:white;
    text-align:center;
    cursor:pointer;
    
}



input[type="submit"] {
    position:inherit;
  background-color: transparent;
  background: url('img/btn.png');
   display: inline-block;
    text-align: center;
    cursor:pointer;
    
}

h1, h2 {
    text-align: center;
    color:white;
    font-family: 'Lobster', cursive;
    font-size: 28px;
    font-weight: 100;
}

h1{
    font-size: 40px;
    color:#4db8ff;
}
#tictac{
    margin:0 auto;
}

header {
        border: 1px dashed white;
        
  		margin: 50 auto;
  		margin-top: 10px;
  		width:500px;
  		height: 10%;
  		text-align: center;
}

main {
  	    text-align: center;
  		background-color: white;
  		margin:0 auto;
  		width:500px;
}

#msg{
    height:100px;
    width:100px;
    margin:10px auto;
    opacity:0.5;
}

#msg:hover{
    opacity:1;
}

h4{
    color:#00e6b8;
    margin: 10px auto;
}
footer{
    font-size: 1.2em;
    margin: 20px auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

hr {
    border-style: dotted;
    width:30%;
    color:white;
    margin: 10px auto;
}
