

h1{
    color: black;
}

div {
    display: inline-block;
    text-align: center;
}
#h, #c{
    display: inline;
    word-wrap: break-word;
   margin: 20px;
   color: black;
  
}

 #main {
        font-family: 'Baloo Bhaina', cursive;
        display: block;
        
        margin:0 auto;
    }
    
img {
    margin: 20px;
}
 
 p{
     color: green;
     
 }