
body {
   background:linear-gradient(to top, #bbc0c4 0%, #596164 100%);
    color: white;
    font-family: 'Helvetica Neue';
    /*cursor: url(''), default;*/
}

body, a, a:hover { 
    cursor:url('http://ani.cursors-4u.net/nature/nat-11/nat1047.cur'), auto
}

h1 {
    font-family: 'Damion';
    font-size: 4em;
    margin-bottom: 0px;
    color: white;
}

hr {
    width: 50%;
    color: #ffe6ff;
}

#me p{
    font-family: 'Damion';
    font-size: 1.7em;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    color: #888;
}

header, main, nav, footer {
    text-align: center;
}


nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

nav a { /* links within "nav" container */
    font-family: 'Helvetica Neue';
    font-weight: 300;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none; /* removes underline */
    color: white; /* by default, links are blue */
   
}

nav a:hover { /* psuedo class */
    border-bottom: 2px #009688 solid;
    font-size: 1.6em;
    transition: .9s; /* transition effect */ 
}

span .active {
    background-color: #009688;
    border-radius: 15px;
}

nav span {
    height: 10px;
}


#me, #welcomeText {
    float: left;
}

#welcomeText {
    color: #374649;
}

figure {
    position: relative;
    top: -50px;
    left: 200px;
	transform: rotate(-8deg); 
}

figure img {
    background: white;
	display: inline;
	padding: 20px 20px 70px 20px;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	z-index:0;
       
    
}

figure:hover {
    transform: rotate(0deg);
    transform: scale(1.1);
	z-index:10;
    box-shadow: 0 40px 90px rgba(0,0,0,.7);
}


#welcomeText {
    position: relative;
    text-align: left;
    left: 200px;
}

footer {
    clear: left;
    font-size: .7em;
}

#foot-content {
   display: inline-block;
   margin: 1em;
}

table {
    margin: 0px auto;
   
}


th, td {
    padding: 15px;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: #3b3a30;
}


#table-header {
    font-size: 1em;
    font-weight: 400;
    background: linear-gradient(to right, #66ffcc 0%, #66ccff 100%);
    color: #1f4060;
}

.table-row {
    background: linear-gradient(to bottom, #000000 -600%, #ffffff 100%);
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
    color:  #8a97a0;
}

.table-row:hover {
    background: linear-gradient(to right, #66ff99 0%, #66ffff 100%);
    color:  white;
    
}

#about {
    text-align: left;
    padding-left: 200px;
    padding-top: 20px;
    
}

#about li {
    margin: 20px 0;
}

.hobby {
    color: #EDC766;
}

#content-form {
    display: block;
    text-align: center;
}

iframe {
    overflow-y: hidden;
}
